<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PasteTools.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PasteTools.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- 本节定义 My.Application.Log 的登录配置-->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- 取消注释以下一节可写入应用程序事件日志-->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- 取消注释以下一节并用应用程序名替换 APPLICATION_NAME 可写入应用程序事件日志-->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <PasteTools.My.MySettings>
            <setting name="CheckBox3Text" serializeAs="String">
                <value>窗体显示在最前</value>
            </setting>
            <setting name="BtF1Text" serializeAs="String">
                <value>数据目录</value>
            </setting>
            <setting name="BtF2Text" serializeAs="String">
                <value>配置目录</value>
            </setting>
            <setting name="Label1Text" serializeAs="String">
                <value>粘贴间隔数值(ms)</value>
            </setting>
            <setting name="GroupBox1Text" serializeAs="String">
                <value>模式选择</value>
            </setting>
            <setting name="GroupBox2Text" serializeAs="String">
                <value>数据</value>
            </setting>
            <setting name="GroupBox3Text" serializeAs="String">
                <value>杂项</value>
            </setting>
            <setting name="LinkLabel1Text" serializeAs="String">
                <value>关于作者...</value>
            </setting>
            <setting name="TitleText" serializeAs="String">
                <value>粘贴工具</value>
            </setting>
        </PasteTools.My.MySettings>
    </applicationSettings>
    <userSettings>
        <PasteTools.My.MySettings>
            <setting name="CheckBox1Text" serializeAs="String">
                <value>Ctrl + Enter 快捷键</value>
            </setting>
            <setting name="CheckBox2Text" serializeAs="String">
                <value>粘贴状态</value>
            </setting>
            <setting name="ComboBox1Text" serializeAs="String">
                <value />
            </setting>
            <setting name="MaskedTextBox1Text" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="CheckBox1Checked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckBox2Checked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckBox3Checked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainPTBackColor" serializeAs="String">
                <value>CadetBlue</value>
            </setting>
            <setting name="TabPage3BackColor" serializeAs="String">
                <value>ActiveCaption</value>
            </setting>
        </PasteTools.My.MySettings>
    </userSettings>
</configuration>
